/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    outline: none;
    padding: none;
    margin: none;
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    color: white;
}

:root {
    --main-accent: rgb(43, 230, 255);
    --main-accent-dark: rgb(49, 117, 156);
    --panel-m-bg: rgb(31, 31, 31);
    --panel-bg: rgb(15, 15, 15);
}

body {
    background-color: var(--panel-bg);
}


/* / Todo list div */
.todo {
    width: --webkit-fill-avaiable;
    padding: 1rem 30%;
}

/* CHECKBOX SIZE */
input[type="checkbox"]

.todo .todo-header {
    display: flex;
    gap: 1rem;
}


















