/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: "Red Hat Display", sans-serif;
    color: white;
}

:root {
    --main-accent: rgb(43, 230, 255);
    --main-accent-dark: rgb(49, 117, 156);
    --panel-m-bg: rgb(31, 31, 31);
    --panel-bg: rgb(15, 15, 15);
}

body {
    background-color: var(--panel-bg);
}


/* / Todo list div */
.todo {
    width: --webkit-fill-avaiable;
    padding: 1rem 30%;
    align-items: center;

    transition: .3s;

}

/* CHECKBOX SIZE */
input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    accent-color: var(--main-accent);
}

.todo .todo-header {
    display: flex;
    gap: .7rem;
    align-items: center;
    border-top: solid rgb(58, 58, 58) 1px;
    padding-top: .5rem;
}

.todo .todo-header h1 {
    font-size: 2rem;
}

.todo .desc {
    font-size: 1.2rem;
    opacity: 0.8;
}

.todo .tags {
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
}

.todo .tag {
    padding: .4rem .6rem;
    border-radius: 1rem;
    font-size: .9rem;
}


















