{% extends 'base.html' %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="bg">
    <div class="mid-panel">
        <h1> </h1>
        {% for i in todo %}
        <div class="todo">
            <div class="left">
                <label class="checkbox-container">
                    <input type="checkbox" class="checkbox" {% if i.completed %}checked{% endif %} style="border: solid 2px {{ i.color }};">
                    <span class="checkmark" style="border-color: var(--main-accent);"></span>
                </label>
            </div>

            <div class="right">
                <!-- TODO HEADER -->
                <div class="todo-header">
                    <div class="title">
                        <h1>{{ i.title }}</h1>
                    </div>
                    <div class="data">
                        {% if i.time %}
                            <h1 class="tag"><i class="fa-solid fa-clock"></i> {{ i.time }}</h1>
                        {% endif %}
                        {% if i.date %}
                            <h1 class="tag"><i class="fa-solid fa-calendar"></i> {{ i.date }}</h1>
                        {% endif %}
                    </div>
                </div>

                <!-- TODO DESCRIPTION -->
                <span class="desc">
                    {{i.description}}
                </span>

                <!-- TODO TAGS -->
                <div class="tags">
                    {% for tag in i.tags.all %}
                        <h1 class="tag" style="background-color: {{ tag.color }}4D;"><i class="fa-solid fa-tag"></i> {{ tag.name }}</h1>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="right-panel"></div>
        {% endfor %}

        <!-- TODO ADD BUTTON -->
        <div class="add">
            <div class="right">
                <!-- TODO HEADER -->
                <div class="todo-header">
                    <div class="title">
                        <h1>+ Add more ToDo Lists</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}